<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ETS.payment.mapper.PaymentMapper">
	<!-- 이용권 리스트 -->
	<select id="getuseTicketList" resultType="cMap" parameterType="dMap">
		SELECT useTicketSeq
			,  exchangeName
			,  useTicketName
			,  applicationPeriod
			,  useTicketStatus
			,  useTicketPrice
			,  useTicketEvent
		FROM PaymentManage_Ticket
		WHERE 1=1
		ORDER BY applicationPeriod, exchangeName DESC
		<if test="@org.apache.commons.lang.StringUtils@isNotEmpty(scopeRow)">
		 		LIMIT ${scopeRow}, ${rowCount}
		</if>
	</select>
	
	<!-- 이용권 리스트 카운트 -->
	<select id="getuseTicketListCount" resultType="int" parameterType="cMap">
		SELECT COUNT(*) AS cnt
		  FROM PaymentManage_Ticket
		 WHERE 1=1
		 ORDER BY exchangeName DESC
	</select>
	
	<!-- 이벤트 리스트 -->
	<select id="geteventList" resultType="cMap" parameterType="dMap">
		SELECT EventSeq
			,  EventName
		FROM Event_Info
		WHERE 1=1
		ORDER BY EventName
	</select>
	
	<!--이용권에 이벤트 등록 -->
	<update id="registerEvent" parameterType="dMap">
		UPDATE PaymentManage_Ticket 
			SET 
			<choose>
		   	 <when test="@org.apache.commons.lang.StringUtils@isNotEmpty(searchType)">
		   	    <if test ='searchType.equals("OP")'>
		   	   		 useTicketEvent = 'OPEN 15% Discount'
		   	    </if>
		   	    <if test = 'searchType.equals("SP")'>
		   	    	  useTicketEvent = 'SPRING 5% Discount'
		   	    </if>
		   	    <if test = 'searchType.equals("SU")'>
		   	    	 useTicketEvent = 'SUMMER 15% Discount'
		   	    </if>
		   	    <if test = 'searchType.equals("FA")'>
		   	    	 useTicketEvent = 'FALL 20% Discount'
		   	    </if>
		   	    <if test = 'searchType.equals("WI")'>
		   	    	 useTicketEvent = 'WINTER 10% Discount'
		   	    </if>
		   	    <if test = 'searchType.equals("NO")'>
		   	    	 useTicketEvent = NULL
		   	    </if>
		   	 </when>
		   	</choose>
		   	WHERE useTicketSeq = ${useTicketSeq}
	</update>
	
	<!-- 이용권 등록 -->
	<insert id="registeruseTicket" parameterType="dMap">
		INSERT INTO PaymentManage_Ticket
		  	 ( exchangeName, useTicketName, applicationPeriod, useTicketStatus, useTicketPrice)
		VALUES
			 ( #{EXsearchType}, #{useTicketName}, #{useTicketPeriod}, 0 ,#{useTicketPrice} )
	</insert>
	
	<!-- 이용권 삭제 -->
	<delete id="deleteuseTicket" parameterType="dMap">
		DELETE
		  FROM PaymentManage_Ticket
		 WHERE useTicketSeq = ${useTicketSeq}
	</delete>
</mapper>